// .category {
//   color: red;

//   .slideshow {
//     display: flex;
//     overflow: hidden;
//     justify-content: space-between;
//     width: 100%;
//   }

//   & img {
//     max-width: 30%;
//   }
// }

// .homepage {
//    & div {
//     background-color: #5c2e91;
//     background-color: purple;
//     color: #fff;
//     color: #3498db;
//     text-align: center;
//    }
// }

.container {
  box-sizing: border-box;
  max-width: 95%;
  // position: relative;
  // width: 100%;

  .categories {
    max-width: 80%;
    margin: auto;
  }
  
 
}