.container {
  width: 95%;
  margin: auto;
  text-align: center;

  .hero {
    max-width: 95%;
    display: grid;
    margin: 5% auto;
    position: relative;
    grid-template-areas:
      "one one two three three"
      "four five five five six";

      // @media(max-width: 700px) {
      //   display: flex;
      //   flex-direction: column;
      // }

      .grid {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        // opacity: .5;
        // filter: saturate(.5);

       
      }

    .g-1 {
      grid-area: one;
      background-image: url('../img/IMG_0199.jpg');

    }
    
    .g-2 {
      grid-area: two;
      background-image: url('../img/IMG_0211.jpg');

    }

    .g-3 {
      grid-area: three;
      background-image: url('../img/IMG_0214.jpg');
    }

     .g-4 {
      grid-area: four;
      background-image: url('../img/IMG_0139.jpg');
      background-position: left;

    }

    .g-5 {
      grid-area: five;
      background-image: url('../img/IMG_0131.jpg');
      background-position: bottom;

    }

    .g-6 {
      grid-area: six;
      background-image: url('../img/IMG_0205.jpg');
    }

    .hero-text {
      background-color: #ffb5b588;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Pacifico';
      color: black;
      font-size: 12vw; 
      border-radius: 10px;
      margin: auto;
      padding: 3%;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      line-height: 1.25;
      letter-spacing: 5px;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      mix-blend-mode: screen;
    }

  }

  .intro {
    max-width: 90%;
    text-align: left;
    margin: 5% auto;
    text-indent: 50px;
    line-height: 1.25;
    background-color: #f2dfce87;
    background-image: url('');
    padding: 5%;
    border-radius: 10px;


    .intro-bottom {
      margin-top: 5%;
      font-size: .8rem;
      font-weight: bold;
      text-indent: 0;
    }
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #1b30a6b5;
    box-shadow: -5px 5px 5px #f26f63;
    max-width: 60%;
    margin: 1% auto;
    padding: 3%;
    border-radius: 5px;
    color: #f2dfce;    

  }

  .categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    @media(max-width: 500px) {
      flex-direction: column;
      align-content: center;
    }

    .category {
      max-width: 45%;

      @media(max-width: 500px) {
        max-width: 60%;
      }
    }
  }
  
 
}