.gallery-flex {
  display: flex;
  margin: 5% auto;
  // height: 150px;
  

    & button {
      margin: auto;
      background: none;
      border: none;
      padding: 3%;
      outline: none;

      &:hover {
        background-color: rgba(139, 69, 19, 0.619);
        border-radius: 5px;
        
        
      }

      .fas {
        font-size: 1.5rem;
        color: rgba(139, 69, 19, 0.824);
      }
    }

    .hidden {
      display: none;
    }
    

  
}





