.gallery-flex {
  display: flex;
  margin: 5% auto;
  // height: 150px;
  

    & button {
      margin: auto;
      background: none;
      border: none;
      padding: 3%;
      outline: none;

      &:hover {
        background-color: #1f41a6bc;
        border-radius: 5px;

        & .fas {
          color: #5abfa3;
          padding: 10%;
          
        }
      }

      .fas {
        font-size: 1.5rem;
        color: #1f41a6;
        text-shadow: -1px 1px 8px #1b2fa6;
      }
    }

    .hidden {
      display: none;
    }
    

  
}





